name: lint

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5.2.0
      with:
        python-version: '3.x'
    - run:  |
        python -m pip install --upgrade pip
        python -m pip install -U .[dev]
    - name: black
      run: |
        black --check --diff src tests
    - name: flake8
      run: |
        flake8 src tests

  mypy:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5.2.0
      with:
        python-version: '3.x'
    - run:  |
        python -m pip install --upgrade pip
        python -m pip install -U .[dev]
    - name: mypy
      run: |
        mypy src
